<div class="container">
    <div class="col m-3">
        <div class="card border-primary">
            <div class="card-header">
                <h2>Profile</h2>
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">@<%= @user.email %></h4>           
                        </div>
                        <div class="col">
                            <div class="card mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                        <h5 class="card-title">Info card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>    
       </div>
    </div>
</div>
