<div class='container-flexible m-4'>
  <h1>Videos</h1>
  <div class="row">
    <div class="col">
      <%= render 'left_column'%>
    </div>
    <div class="col">
      <%= render 'video_column'%>
    </div>
    <div class="col">
      <%= render 'right_column'%>
    </div>
  </div>
</div>

 

<br>






